@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

:root {
  --clr-dark-blue: hsl(217, 19%, 35%);
  --clr-unsaturated-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-blue: hsl(210, 46%, 95%);

  --ff-primary: "Manrope", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-grayish-blue);
}

.article {
  position: relative;
  display: grid;
  width: min(90%, 80rem);
  margin-inline: auto;
  background-color: var(--clr-light-blue);
  margin-top: 7rem;
  margin-bottom: 7rem;
  border-radius: 1rem;
}

.article__img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.article__main {
  width: 80%;
  margin-inline: auto;
}



.article__main__title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: var(--clr-dark-blue);
  font-weight: var(--fw-bold);
}

.article__main__para {
  font-family: var(--ff-primary);
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: var(--clr-unsaturated-blue);
  line-height: 1.6;
}

.article__main__footer {
  position: static;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.article__main__footer__img {
  width: 4rem;
  border-radius: 50%;
}

.article__main__footer__info__userName {
  color: var(--clr-dark-blue);
  font-size: 1.3rem;
}

.article__main__footer__info__date {
  font-size: 1.3rem;
  color: var(--clr-unsaturated-blue);
}

.article__main__cta__shareBtn-wrapper {
  margin-left: auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 23%, 90%);
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.article__main__cta__shareBtn {
  width: 1.5rem;
  height: 1.5rem;
}

.article__main__cta {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--clr-dark-blue);
  padding: 1.5rem 2.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.article__main__cta__para {
  text-transform: uppercase;
  color: var(--clr-light-blue);
  letter-spacing: 4px;
  font-size: 1.5rem;
  font-weight: var(--fw-medium);
}

.article__main__cta__icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.article__main__cta__shareBtn-wrapper:hover {
  cursor: pointer;
  background-color: var(--clr-grayish-blue);
}
.article__main__cta__shareBtn-wrapper:hover
  .article__main__cta__shareBtn
  path {
  fill: var(--clr-light-blue);
}

.article__main__cta__shareBtn-wrapper:hover + .article__main__cta {
  visibility: visible;
  opacity: 1;
}

.article__main__cta__icon {
  transition: all 0.2s ease-in;
}
.article__main__cta:hover {
  visibility: visible;
  opacity: 1;
}

.article__main__cta__icon:hover {
  cursor: pointer;
}
.article__main__cta__icon:hover path {
  fill: hsl(210, 46%, 90%);
}

@media only screen and (min-width: 56.25em) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .article {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
  }

  .article__img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    object-fit: cover;
  }

  .article__main__cta {
    visibility: hidden;
    position: absolute;
    width: 70%;
    right: 0;
    top: 0;
    transform: translate(88.5%, -135%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--clr-dark-blue);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  .article__main__cta::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-55%, 22%);
    width: 0;
    height: 0;
    border: 3rem solid transparent;
    border-bottom: 0;
    border-top: 6rem solid var(--clr-dark-blue);
    z-index: -100;
  }

  .article__main__cta .article__main__cta__shareBtn-wrapper{
    display: none;
  }

  .article__main__cta__para {
    text-transform: uppercase;
    color: var(--clr-light-blue);
    letter-spacing: 4px;
    font-size: 1.5rem;
    font-weight: var(--fw-medium);
  }

  .article__main__cta__icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .article__main__cta__shareBtn-wrapper:hover {
    cursor: pointer;
    background-color: var(--clr-grayish-blue);
  }
  .article__main__cta__shareBtn-wrapper:hover
    .article__main__cta__shareBtn
    path {
    fill: var(--clr-light-blue);
  }

  .article__main__cta__shareBtn-wrapper:hover + .article__main__cta {
    visibility: visible;
    opacity: 1;
  }

  .article__main__cta__icon {
    transition: all 0.2s ease-in;
  }
  .article__main__cta:hover {
    visibility: visible;
    opacity: 1;
  }

  .article__main__cta__icon:hover {
    cursor: pointer;
  }
  .article__main__cta__icon:hover path {
    fill: hsl(210, 46%, 90%);
  }
  .article__main__footer{
    position: relative;
  }
}

@media only screen and (min-width: 37.5em){
  .article{
    width: 70%;
  }
}